---
---

@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-utilities.min.css");

@import "reset";
@import "variables";
@import "mixins";
@import "Typography";
@import "nav";
@import "project-grid";
@import "more-work";
@import "pages";

::selection {
  background: $highlight;
  color: $gray-400;
}

html {
  background: $gray-400;
  padding-top: 8em;
}

a {
  border-bottom: 2px solid $gray-100;
  color: $gray-100;
  text-decoration: none;
  transition: border 0.3s ease;
  &:hover {
    border-color: $highlight;
    text-decoration: none;
  }
}

main {
  margin-top: 3rem;
}