---
---

@import "reset";
@import "breakpoints";
@import "variables";
@import "mixins";
@import "Utilities";
@import "Typography";
@import "nav";
@import "project-grid";
@import "more-work";
@import "resume";
@import "project-page";

::selection {
  background: $highlight;
  color: $gray-400;
}

html {
  background: $gray-400;
}

.container {
  margin: 0 6rem;
  @include breakpoint(md) {
    margin: 0 3rem;
  }
}

a {
  border-bottom: 2px solid $gray-100;
  color: $gray-100;
  text-decoration: none;
  transition: border 0.3s ease;
  &:hover {
    border-color: $highlight;
    text-decoration: none;
  }
}

main {
  margin-top: 3rem;
}
