---
permalink: /crossroads/
title: Crossroads Church
---


<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container">
        <div class="page-header">
            <div>
                <h1 class="title">Crossroads Church</h1>

                <p class="indent-left large third">Crossroads is a multisite interdenominational megachurch in Cincinnati, Ohio. It was named the 4th largest and fastest growing church in America in 2017, with over 34,000 average weekend attendees. Crossroads has 10 physical locations in Ohio and Kentucky, and an online streaming platform where over 6,000 people watch services weekly.</p>
            </div>
        </div>

        <div class="indent-left">
            <h3>Project Background</h3>

            <div class="columns-top">
                <div class="half">
                    <p>Room volunteers use a combination of two-way radios and a landline phone system to communicate room needs to the support team. The phones are older and unreliable and parts are difficult to get if repairs are needed. Two-way radios are challenging to use for some volunteers and can make it difficult to hear against background noise.</p>

                    <h3>Problem</h3>
                    <p>Childcare room volunteers don't have a painless way to contact support team members when room or child needs arise.</p>
                </div>

                <img src="/images/crossroads-main.png" alt="Crossroads pastor Brian Tome delivering a message" />
            </div>
        </div>

        <!-- Work Samples -->

        <div class="columns-middle work-sample">
            <img src="/images/kc-check-in.png" alt="Screenshot of the Crossroads Kids Club check-in app showing children than are in the classroom" />
            <p class="caption">Room volunteers tap the button that best corresponds to their need.</p>
        </div>

        <div class="columns-middle work-sample">
            <p class="caption">The requestor is alerted that their request has been sent and allows them to cancel and mark complete once a support team member arrives.</p>
            <img src="/images/kc-request.png" alt="Screenshot of the Crossroads Kids Club check-in app showing a room request" />
        </div>

        <div class="columns-middle work-sample">
            <img src="/images/kc-admin.png" alt="Screenshot of the Crossroads Kids Club check-in app showing children than are in the classroom" />
            <p class="caption">Room requests display on the admin app and are sorted based on the urgency of the need.</p>
        </div>

        <div class="indent-left">
            <div class="columns-middle">
                <div class="half">
                    <h3>Method</h3>
                    <p>After interviewing a group of room and support team volunteers I conducted an ideation workshop with my team to generate ideas, sketch solutions, align the team, and evaluate effort vs impact of our top-voted solutions.</p>

                    <h3>Solution</h3>
                    <p>Given the state of the phone system, the pitfalls of two-way radios, and the presence of iPads in the rooms, we decided to test a solution allowing room volunteers to tap a button based on the kind and urgency of the need. Tapping a button sends a real-time notification to software monitored by support team members who can send relevant staff to the room.</p>

                    <h4>Results</h4>
                    <p>Crossroads was able to move to the new in-room communication tool as a singular solution. We measured customer satisfaction with Google's HEART framework (foregoing adoption and retention for this feature) with high user satisfaction scores and low error rates.</p>
                </div>

                <img src="/images/crossroads-collage.png" alt="Childcare workers at Crossroads Church" />
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>