---
title: Ryan Payne
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="featured-text">
      <div class="container">
        <p class="large">I’m an experienced digital product designer who clarifies complex ideas by being curious, asking the right questions, and sweating the right details. I’m currently partnering with clients through Ingage Partners in Cincinnati, OH.</p>
      </div>
    </div>
    
    <!-- Project Grid -->
    
    <div class="project-grid">
      <div class="row">
        <div class="grid-item left">
          <h2>Featured work</h2>
        </div>
  
        <div class="grid-item-project right">
          <a class="untappd" href="#">
            <span class="brand-color untappd"></span>
            Untappd for Business
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item-project left">
          <a class="crossroads" href="/crossroads">
            <span class="brand-color"></span>
            Crossroads Church
          </a>
        </div>

        <div class="grid-item right"></div>
      </div>

      <div class="row">
        <div class="grid-item left"></div>
  
        <div class="grid-item-project right">
          <a class="clarke" href="#">
            <span class="brand-color"></span>
            Clarke Power Services
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item left"></div>
  
        <div class="grid-item-project right">
          <a class="health-carousel" href="#">
            <div><span class="brand-color"></span>
              Health Carousel</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item-project left">
          <a class="webstop" href="#">
            <span class="brand-color"></span>
            Webstop
          </a>
        </div>

        <div class="grid-item right"></div>
      </div>
    </div>

    <div class="featured-text">
      <div class="container">
        <p class="large">I’m currently partnering with clients through Ingage Partners in Cincinnati, OH. Call the office at (513) 321-7700 or send us an email. We’d love to hear more about your needs.</p>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>