---
title: Ryan Payne
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container">
      <div class="row">
        <div class="col-3">
          This content will take up 3/12 (or 1/4) of the container
        </div>
        <div class="col-3">
          This content will take up 3/12 (or 1/4) of the container
        </div>
        <div class="col-6">
          This content will take up 6/12 (or 1/2) of the container
        </div>
      </div>
    </div>

    <div class="featured-text">
      <div class="container">
        <p class="large">I’m Ryan, a digital product designer based in Cincinnati. I turn complex ideas into easy to use digital products by being curious, asking the right questions, and sweating the right details.</p>
      </div>
    </div>
    
    <!-- Project Grid -->
    
    <div class="project-grid">
      <div class="row">
        <div class="grid-item left">
          <h2>Featured work</h2>
        </div>
  
        <div class="grid-item-project right">
          <a class="untappd" href="#">
            <span class="brand-color untappd"></span>
            Untappd for Business
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item-project left">
          <a class="crossroads" href="/crossroads">
            <span class="brand-color"></span>
            Crossroads Church
          </a>
        </div>

        <div class="grid-item right"></div>
      </div>

      <div class="row">
        <div class="grid-item left"></div>
  
        <div class="grid-item-project right">
          <a class="clarke" href="#">
            <span class="brand-color"></span>
            Clarke Power Services
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item left"></div>
  
        <div class="grid-item-project right">
          <a class="health-carousel" href="#">
            <div><span class="brand-color"></span>
              Health Carousel</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="grid-item-project left">
          <a class="webstop" href="#">
            <span class="brand-color"></span>
            Webstop
          </a>
        </div>

        <div class="grid-item right"></div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>