<div class="project-grid" id="projects">
  <ul>
    <li>
      <figure>
        <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZXIlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Friends enjoying beer at a brewery">
      </figure>
      <div class="figure-body untappd">
        <a href="/untappd">
          <h2>Untappd for Business</h2>
          <span></span>
        </a>
        <p>Wilmington, NC</p>
      </div>
    </li>

    <li>
      <figure>
        <img src="https://www.gannett-cdn.com/presto/2020/07/16/PCIN/30999d6b-d068-46d7-92a7-e844c1503ca4-crossroads.jpg" alt="Crossroads pastor Brian Tome delivering a message">
          <span></span>
        </a>
      </figure>
      <div class="figure-body crossroads">
        <a href="/crossroads">
          <h2>Crossroads Church</h2>
          <span></span>
        </a>
        <p>Cincinnati, OH</p>
      </div>
    </li>

    <li>
      <figure>
        <img src="https://www.clarkepowerservices.com/images/default-source/default-album/dedicatedmobileserviceunit_vehicaremsu.png?sfvrsn=11d7ea83_0" alt="Clarke Vehicare mobile repair truck">
      </figure>
      <div class="figure-body clarke">
        <a href="/clarke">
          <h2>Clarke Power Services</h2>
          <span></span>
        </a>
        <p>Cincinnati, OH</p>
      </div>
    </li>

    <li>
      <figure>
        <img src="https://images.unsplash.com/photo-1590611936760-eeb9bc598548?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="A nurse putting on personal protection equipment">
      </figure>
      <div class="figure-body hc">
        <a href="/health-carousel">
          <h2>Health Carousel</h2>
          <span></span>
        </a>
        <p>Cincinnati, OH</p>
      </div>
    </li>

    <li>
      <figure>
        <img src="https://www.webstop.com/assets/stock_images/WomanShopping_480x580-87b5e05ed0e6779ebcb8a6fd18b7d5659fe206911d0f185ef5cd24c94b7b168e.jpg" alt="A woman using her phone while shopping for produce">
      </figure>
      <div class="figure-body">
        <a href="/webstop">
          <h2>Webstop</h2>
          <span></span>
        </a>
        <p>Tampa, FL</p>
      </div>
    </li>

    <li>
      <figure>
        <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="Friends toasting with wine glasses">
      </figure>
      <div class="figure-body">
        <a href="/next-glass">
          <h2>Next Glass</h2>
          <span></span>
        </a>
        <p>Wilmington, NC</p>
      </div>
    </li>
  </ul>            
</div>