<div class="project-grid" id="projects">
  <div class="container px-8 mx-auto mx-auto">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="project-item">
        <a href="/untappd">
          <span></span>
        </a>
        <figure>
          <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZXIlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Friends enjoying beer at a brewery">
        </figure>
        <div class="figure-body">
          <h3>Untappd for Business</h3>
          <p>Wilmington, NC</p>
        </div>
      </div>

      <div class="project-item">
        <a href="/crossroads">
          <span></span>
        </a>
        <figure>
          <img src="https://www.gannett-cdn.com/presto/2020/07/16/PCIN/30999d6b-d068-46d7-92a7-e844c1503ca4-crossroads.jpg" alt="Crossroads pastor Brian Tome delivering a message">
          </a>
        </figure>
        <div class="figure-body">
          <h3>Crossroads Church</h3>
          <p>Cincinnati, OH</p>
        </div>
      </div>

      <div class="project-item">
        <a href="/clarke">
          <span></span>
        </a>
        <figure>
          <img src="https://www.clarkepowerservices.com/images/default-source/default-album/dedicatedmobileserviceunit_vehicaremsu.png?sfvrsn=11d7ea83_0" alt="Clarke Vehicare mobile repair truck">
        </figure>
        <div class="figure-body">
          <h3>Clarke Power Services</h3>
          <p>Cincinnati, OH</p>
        </div>
      </div>         

      <div class="project-item">
        <a href="/health-carousel">
          <span></span>
        </a>
        <figure>
          <img src="https://images.unsplash.com/photo-1590611936760-eeb9bc598548?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="A nurse putting on personal protection equipment">
        </figure>
        <div class="figure-body">
          <h3>Health Carousel</h3>
          <p>Cincinnati, OH</p>
        </div>
      </div>

      <div class="project-item">
        <a href="/webstop">
          <span></span>
        </a>
        <figure>
          <img src="https://www.webstop.com/assets/stock_images/WomanShopping_480x580-87b5e05ed0e6779ebcb8a6fd18b7d5659fe206911d0f185ef5cd24c94b7b168e.jpg" alt="A woman using her phone while shopping for produce">
        </figure>
        <div class="figure-body">
          <h3>Webstop</h3>
          <p>Tampa, FL</p>
        </div>
      </div>        

      <div class="project-item">
        <a href="/next-glass">
          <span></span>
        </a>
        <figure>
          <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="Friends toasting with wine glasses">
        </figure>
        <div class="figure-body">
          <h3>Next Glass</h3>
          <p>Wilmington, NC</p>
        </div>     
      </div>
    </div>
  </div>
</div>