
// Breakpoing Variables

$breakpoint-xs: 576px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 576px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 640px) { @content; }
  }
 
  @else if $class == md {
    @media (max-width: 768px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1024px) { @content; }
  }

  @else if $class == xl {
    @media (max-width: 1280px) { @content; }
  }

  @else if $class == 2xl {
    @media (max-width: 1536px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, 2l";
  }
}