.more-work {  
  h4 {
    margin: 0;
  }
  
  a {
    background: transparent;
    border: 1px solid $gray-200;
    border-radius: 200px;
    font-size: 2rem;
    line-height: 1.75rem;
    height: 6rem;
    @media not all and (min-width: 640px) { 
      font-size: 1.5rem;
      font-size: 1.5rem;
    }
    &:before {
      background: white;
      border-radius: 50%;
      content: '';
      display: inline-block;
      min-height: 48px;
      margin-right: 1rem;
      min-width: 48px;
    }
    &:hover {
      background: $gray-300;
      border-color: $gray-100;
      color: white;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  a.untappd {
    &:before {
      background: #FFC405;
    }
  }

  a.crossroads {
    &:before {
      background: #F47920;
    }
  }

  a.clarke {
    &:before {
      background: #E32526;
    }
  }

  a.health-carousel {
    &:before {
      background: #872E91;
    }
  }

  a.webstop {
    &:before {
      background: #0194D3;
    }
  }

  a.next-glass {
    &:before {
      background: #32A6C8;
    }
  }
}