nav, footer {
  background: $gray-400;
  color: $gray-100;
  padding: 1em 0;
  font-size: 1.25em;

  .brand {
    a {
      @include flex-between-middle;
      color: $gray-100;
      text-decoration: none;
      border: none;

      svg {
        fill: $highlight;
        margin-right: 1rem;
      }

      &:hover {
        color: white;
      }
    }
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

footer {
  margin-top: 8rem;
}

.navigation {
  li {
    display: inline-block;
  }
  a {
    display: block;
    color: $gray-100;
    padding: .5em;
    text-decoration: none;
    border: 0;
  
    &:hover {
        color: white;
    }
  }
}
