.project-grid {
  padding: 3rem 0;

  img {
    border-radius: $radius;
    height: 300px;
    margin-top: 2rem; 
    object-fit: cover;
    object-position: 65% 25%;
    width: 100%;
  }
}

.project-item {
  list-style: none;
  transition: all 0.3s ease;
  position: relative;

  a {
    text-decoration: none;    
    span {
      position:absolute; 
      width:100%;
      height:100%;
      top:0;
      left: 0;
      z-index: 1;
    }
  }

  .figure-body {
    border-left: 4px solid transparent;
  }
  
  .figure-body, img {
      transition: all 0.3s ease;
  }

  &:hover {
    .figure-body {
      border-left: 4px solid $highlight;
      padding-left: 1.5rem;
    }
    img {
      opacity: .75;
    }
  }
}

.figure-body {
  border-left: 4px solid transparent;
  color: $gray-100;
  margin-top: 1em;
  padding: .5rem 1.5rem;
  h2 {
      margin: 0;
  }
  p {
      font-size: 1rem;
      margin: 0;
  }
}