.location, .role, .duration {
  display: block;
}

.resume-grid {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  grid-auto-rows: min-content;
}

.industry-tag {
  font-size: 1em;
  text-transform: uppercase;
}