.indent-left {
  margin-left: 6rem;
}

.margin-auto {
  margin: auto;
}

.columns-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}

.columns-top-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6rem;
}

.columns-middle {
  @include flex-between-middle;
  gap: 6rem;
}

.columns-middle-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.columns-middle-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-col {
  display: flex;
  justify-content: end;
}

.margin-left-none {
  margin-left: 0;
}

.margin-right {
  margin-right: 10rem;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-half {
  margin-bottom: .5rem;;
}

.margin-bottom-1 {
  margin-bottom: 1rem;;
}

.margin-bottom-2 {
  margin-bottom: 2rem;;
}

.margin-bottom-3 {
  margin-bottom: 3rem;;
}

.margin-bottom-4 {
  margin-bottom: 4rem;;
}

.quarter {
  width: 25%;
}

.quarter.eighth {
  width: 37.5%;
}

.half {
  width: 50%;
}

.half.eighth {
  width: 62.5%;
}

.third {
  width: 75%;
}