---
permalink: /bio/
title: Bio
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}    
    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-md-8">
            <h1 class="title">Bio</h1>          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>My Background</h3>  
          <p>
            I grew up in Southeast Tennessee and live in Cincinnati. That means I have Southern charm and Midwestern grit. I’m a dad, an avid home coffee roaster, an ok guitar and banjo player, and I love a good trap beat. I use Oxford commas.
          </p>
  
          <p>
            I’ve been working with web and native applications for 15 years and have significant experience in branding, illustration, technical writing, and customer support.
          </p>
        </div>
      </div>
      <h3 class="indent-left">What my coworkers say</h3>
      <div class="quotes">
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>Ryan is by far the best designer I've had the pleasure of working with. His attention to detail, vast subject knowledge and genuine concern for easy user experience has driven the success of our products.</p>
          <cite>— Data Scientist, Next Glass</cite>
        </blockquote>
      
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>One thing I have always appreciated about Ryan is that he was very receptive to our customer's needs. He worked closely with me and my team to ensure that he applied customer feedback to the designs he worked on when building out products and features.</p>
          <cite>— VP Customer Support, Untappd</cite>
        </blockquote>            
      
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>He’s a great guy, has a keen design eye, and brought simple solutions to complex problems to the table. He was tenacious in his search for solutions to underlying problems our mobile app users and business customers faced across a wide range of our product suite.</p>
          <cite>— COO, Untappd</cite>
        </blockquote>
    
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>Ryan was a team player and well liked personally by his colleagues. His infectious and warm personality endear him to those around him and are a true asset to a Product & Engineering organization.</p>
          <cite>— CEO, Untappd</cite>
        </blockquote>
      
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>Ryan is one of the most versatile and creative designers I’ve ever worked with. He is skilled in a wide range of design styles, communicates his ideas clearly, and is openly accepting of feedback. Needless to say, he’s an excellent addition to any team.</p>
          <cite>— Co-Founder and Designer, Untappd</cite>
        </blockquote>
      
        <blockquote>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 50"><path class="cls-1" d="M16.78,21.71A14.15,14.15,0,0,1,14.52,49.8C5.47,49.8,0,42.64,0,33.59,0,17.75,10.37,6.25,28.28,0l4.15,7.73C23.57,11.53,18.29,16.06,16.78,21.71ZM60.91,35.66A14,14,0,0,1,47,49.8c-9.05,0-14.52-7.16-14.52-16.21C32.44,17.75,42.81,6.25,60.72,0l4.15,7.73c-8.86,3.77-14.14,8.3-15.65,14A14,14,0,0,1,60.91,35.66Z"/></svg>
          <p>It was my first professional opportunity to work closely with a member of a design team, and he set an amazing example of what cross functional collaboration should look like.</p>
          <cite>— Director of Customer Support, Untappd Marketplace</cite>
        </blockquote>         
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>