---
permalink: /clarke/
title: Clarke Power Services
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="grid gap-16 lg:grid-cols-12">
        <div class="col-span-5">
          <figure class="project-image mb-4">
            <img src="https://www.clarkepowerservices.com/images/default-source/default-album/dedicatedmobileserviceunit_vehicaremsu.png?sfvrsn=11d7ea83_0" alt="Clarke Vehicare mobile repair truck">
          </figure>
        </div>

        <div class="col-span-7">
          {% include proj-back.html %}
          <h1 class="title mb-8">Clarke Power Services</h1>
          <p class="mb-8">
            Clarke Power Services is an industry leader providing individual and comprehensive repairs for all makes and models of on and and off-highway trucks.
          </p>

          <h3 class="mb-8">Project Background</h3>
          <p class="mb-8">
            Clarke Power Services planned to phase out use of APPX for it's invoicing platform. They wanted to build a custom web app allowing for more scalable and flexible architecture, making it easier to add new features, integrate with third-party tools, and perform maintenance and updates.
          </p>

          <h3 class="mb-8">Problem Space</h3>
          <p class="mb-8">
            ** Say more about the move from legacy Windows software to a modern web app**
            The product team at Clarke had a clear understanding of the current invoicing product but needed help understanding how a new app might function and what could be improved for its users across business units.
          </p>
        </div>
      </div>
      
      <!-- Work Samples -->
      
      <div class="grid my-16 lg:grid-cols-2 lg:gap-16 work-samples">
        <div>
          <figure>
            <img src="/images/invoice-list.png" alt="Screenshot of a list of invoices in the Clarke Vehicare invoicing app" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Users can see a list of invoices in various stages of the process. Data that helps users decide priority is shown in the table.
            </p>
          </figcaption>
        </div>
        <div>
          <figure>
            <img src="/images/invoice-detail.png" alt="Screenshot of the invoicing detail feature of the Clarke Vehicare app" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Users can view the invoice in the document viewer, enter required data and notes in the form, and send the invoice for approval.
            </p>
          </figcaption>
        </div>
      </div>
      <div class="grid items-center gap-16 lg:grid-cols-12">
        <div class="col-span-7">
          <h3 class="mb-8">Process</h3>
          <p class="mb-8">
            I teamed up with a project manager and business analyst to interview users across three business units — all with slightly different processes, create journey maps, identify top tasks and test high-fidelity prototypes. 
          </p>
  
          <h3 class="mb-8">Solution</h3>
          <p class="mb-8">
            Through interviews we learned that it was important not to deliver a product that didn't totally do away with patterns users were used to and relied on to do their job quickly. Based on prototype testing, we built a new web app utilizing UI patterns familiar to users and building upon them to improve previously painful processes.
          </p>
  
          <h3 class="mb-8">Results</h3>
          <p class="mb-8">
            We measured customer satisfaction with Google's HEART framework and saw high user satisfaction scores, low error rates, and decreased time-on-task.
          </p>
        </div>
        <div class="col-span-5 justify-self-end">
          <img class="hidden lg:block lg:w-80 lg:float-end" src="/images/clarke-collage.png" alt="Clarke Vehicare Truck" />
        </div>
      </div>            
      
      <div class="more-work my-16 flex flex-col items-center space-between md:flex-row">
        <h4>More Work</h4>
        <div class="icon hidden md:inline-block md:mx-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
        <a class="health-carousel mt-8 px-6 flex flex-row items-center space-between pr-12 md:mt-0" href="/health-carousel">Health Carousel</a>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>