---
permalink: /contact/
title: Contact
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="w-full my-12 md:mt-12 md:mb-24 md:w-4/6">
        <div>
          <h1 class="title">Contact</h1>
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        <p class="mb-6">
          Feel free to get in touch by email at <a href="mailto:ryan.payne@gmail.com?subject=Web%20Contact">ryan.payne@gmail.com</a>. I'm up for questions or coffee most of the time.
        </p>
        <p class="mb-6">
          If you'd like to workt together, I’m currently partnering with clients through Ingage Partners in Cincinnati, OH. If you'd like to work together, <a href="https://www.ingagepartners.com/contact">contact us</a>. We’d love to hear more about your needs.
        </p>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>