---
permalink: /crossroads/
title: Crossroads Church
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="grid gap-16 lg:grid-cols-12">
        <div class="col-span-5">
          <figure class="project-image mb-4">
            <img src="/images/crossroads-main.png" alt="Crossroads pastor Brian Tome delivering a message" />
          </figure>
        </div>

        <div class="col-span-7">
          {% include proj-back.html %}
          <h1 class="title mb-8">Crossroads Church</h1>
          <p class="mb-8">
            Crossroads is a multisite interdenominational megachurch in Cincinnati, Ohio. It was named the 4th largest and fastest growing church in America in 2017, with over 34,000 average weekend attendees. Crossroads has 10 physical locations in Ohio and Kentucky, and an online streaming platform where over 6,000 people watch services weekly.
          </p>

          <h3 class="mb-8">Project Background</h3>
          <p class="mb-8">
            Room volunteers use a combination of two-way radios and a landline phone system to communicate room needs to the support team. The phones are older and unreliable and parts are difficult to get if repairs are needed. Two-way radios are challenging to use for some volunteers and can make it difficult to hear against background noise.
          </p>

          <h3 class="mb-8">Problem Space</h3>
          <p class="mb-8">
            Childcare room volunteers don't have a painless way to contact support team members when room or child needs arise.
          </p>
        </div>
      </div>
      
      <!-- Work Samples -->
      
      <div class="grid my-16 lg:grid-cols-2 lg:gap-16 work-samples">
        <div>
          <figure>
            <img src="/images/kc-check-in.png" alt="" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Room volunteers tap the button that best corresponds to their need.
            </p>
          </figcaption>
        </div>
        <div>
          <figure>
            <img src="/images/kc-request.png" alt="" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              The requestor is alerted that their request has been sent and allows them to cancel and mark complete once a support team member arrives.
            </p>
          </figcaption>
        </div>
        <div>
          <figure>
            <img src="/images/kc-admin.png" alt="" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Room requests display on the admin app and are sorted based on the urgency of the need.
            </p>
          </figcaption>
        </div>
        <div>
          <figure>
            <img src="/images/kc-admin-emergency.png" alt="" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Emergency requests display on top of the UI to ensure that the request isn't missed.
            </p>
          </figcaption>
        </div>
      </div>
      <div class="grid items-center gap-16 lg:grid-cols-12">
        <div class="col-span-7">
          <h3 class="mb-8">Approach</h3>
          <p class="mb-8">
            I conducted interviews with a group of childcare room and support team volunteers and facilitated a team ideation workshop to generate ideas, sketch solutions, and evaluate effort vs impact of our top-voted solutions.
          </p>
  
          <p class="mb-8">
            Given the state of the phone system, the pitfalls of two-way radios, and the presence of iPads in the rooms, we decided to test a solution allowing room volunteers to tap a button based on the type and urgency of the need. Tapping a button sends a real-time notification to software monitored by support team members who can dispatch relevant staff.
          </p>
  
          <h3 class="mb-8">Results</h3>
          <p class="mb-8">
            Crossroads was able to move to the new in-room communication tool as a singular solution. We measured customer satisfaction with Google's HEART framework (foregoing adoption and retention for this feature) with high user satisfaction scores and low error rates.
          </p>
        </div>
        <div class="col-span-5 justify-self-end">
          <img class="hidden lg:block lg:w-80 lg:float-end" src="/images/crossroads-collage.png" alt="Crossroads childcare workers with children" />
        </div>
      </div>            
      
      <div class="more-work my-16 flex flex-col items-center space-between md:flex-row">
        <h4>More Work</h4>
        <div class="icon hidden md:inline-block md:mx-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
        <a class="clarke mt-8 px-6 flex flex-row items-center space-between pr-12 md:mt-0" href="/clarke">Clarke Power Services</a>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>