---
permalink: /crossroads/
title: Crossroads Church
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-12">
          <figure class="project-image">
            <img src="/images/crossroads-main.png" alt="Crossroads pastor Brian Tome delivering a message" />
          </figure>
        </div>

        <div class="col-xl-8 col-md-12 px-5">
          {% include proj-back.html %}
          <h1 class="title">Crossroads Church</h1>
          <p>Crossroads is a multisite interdenominational megachurch in Cincinnati, Ohio. It was named the 4th largest and fastest growing church in America in 2017, with over 34,000 average weekend attendees. Crossroads has 10 physical locations in Ohio and Kentucky, and an online streaming platform where over 6,000 people watch services weekly.</p>

          <h3>Project Background</h3>
          <p>
            Room volunteers use a combination of two-way radios and a landline phone system to communicate room needs to the support team. The phones are older and unreliable and parts are difficult to get if repairs are needed. Two-way radios are challenging to use for some volunteers and can make it difficult to hear against background noise.
          </p>

          <h3>The Problem</h3>
          <p>
            Childcare room volunteers don't have a painless way to contact support team members when room or child needs arise.
          </p>
        </div>
      </div>            
    </div>

    <!-- Work Samples -->

    <div class="container">
      <div class="row work-sample">
        <div class="col-xl-6 col-md-12">
          <figure>
            <img class="w-100" src="/images/kc-check-in.png" alt="" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>
        </div>
        <div class="col-xl-6 col-md-12">
          <figure>
            <img class="w-100" src="/images/kc-request.png" alt="" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>
        </div>
      </div>

      <div class="row work-sample">
        <div class="col-xl-6 col-md-12">
          <figure>
            <img class="w-100" src="/images/kc-admin.png" alt="" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>
        </div>
        <div class="col-xl-6 col-md-12">
          <figure>
            <img class="w-100" src="/images/kc-admin-emergency.png" alt="" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>
        </div>
      </div>
    </div> 
    
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 px-5">
          <h3>Process</h3>
          <p>After interviewing a group of room and support team volunteers I facilitated an ideation workshop to generate ideas, sketch solutions, align the team, and evaluate effort vs impact of our top-voted solutions.</p>
  
          <h3>Solution</h3>
          <p>Given the state of the phone system, the pitfalls of two-way radios, and the presence of iPads in the rooms, we decided to test a solution allowing room volunteers to tap a button based on the kind and urgency of the need. Tapping a button sends a real-time notification to software monitored by support team members who can send relevant staff to the room.</p>
  
          <h3>Results</h3>
          <p>Crossroads was able to move to the new in-room communication tool as a singular solution. We measured customer satisfaction with Google's HEART framework (foregoing adoption and retention for this feature) with high user satisfaction scores and low error rates.</p>
        </div>
  
        <div class="col-xl-4 col-md-12 ms-auto d-md-none d-xl-block">
          <img class="collage w-75 float-end" src="/images/crossroads-collage.png" alt="centrifuge and beer" />
        </div>
      </div>
    </div>
    
    <div class="container more-work">
      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="d-flex align-items-center justify-content-between">
            <h4>More Work</h4>
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg>
            </div>
            <a class="clarke" href="/clarke">Clarke Power Services</a>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>