---
permalink: /cv/
title: Résumé
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <main>
        <div class="indent-left margin-right">
          <div class="page-header">
            <div>
              <h1 class="title">Résumé</h1>
            </div>
          </div>
          
          <!-- Resume Grid -->
          <div class="resume-grid margin-top-4">
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Ingage Partners
              </h3>
              <span class="location">Cincinnati, OH</span>
              <span class="role">Senior Consultant</span>
              <span class="duration">Apr 2019 — Current</span>
            </div>
            <!-- Col -->
            <div>
              <p>
                Ingage Partners is a tech consulting company working with mid to large sized companies in the greater Cincinnati region.
              </p>
              <ul class="styled-list">
                <li>
                  <p>
                    Designed a “one-touch” communication system allowing Crossroads Church childcare workers to alert staff of urgent needs and emergencies
                  </p>
                </li>
                <li>
                  <p>
                    Led research and design of Crossroads Church’s volunteer discovery tool resulting in increased volunteer sign-ups
                  </p>
                </li>
                <li>
                  <p>
                    Helped Health Carousel design and launch On Demand—an app that allows travel nurses to find new opportunities and track required credentials
                  </p>
                </li>
                <li>
                  <p>
                    Helped Clarke Power Services modernize their parts ordering, tire replacement, and time tracking features by replacing time consuming and error prone spreadsheet and email processes
                  </p>
                </li>
              </ul>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Untappd
              </h3>
              <span class="location">Wilmington, NC</span>
              <span class="role">Product Designer</span>
              <span class="duration">Dec 2016 — Apr 2019</span>
            </div>
            <!-- Col -->
            <div>
              <p>
                Untappd is a 7 million user beer-focused social app with a B2B channel helping businesses reach current and new customers.
              </p>
              <ul class="styled-list">
                <li>
                  <p>
                    Shipped a successful v3 consumer app redesign increasing combined MAU year over year by 26%
                  </p>
                </li>
                <li>
                  <p>
                    Designed UI for designing and displaying digital beer menus in bars, restaurants, and tap rooms
                  </p>
                </li>
                <li>
                  <p>
                    Designed UI allowing venues to create tap lists and push them to Untappd’s user base.
                  </p>
                </li>
              </ul>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Next Glass
              </h3>
              <span class="location">Wilmington, NC</span>
              <span class="role">Senior Consultant</span>
              <span class="duration">Nov 2013 — Dec 2016</span>
            </div>
            <!-- Col -->
            <div>
              <p>
                Next Glass was a beer and wine recommendation app that predicted how much a user would like a new beverage based on its molecular structures (mass spectrometry).
              </p>
              <ul class="styled-list">
                <li>
                  <p>
                    Designed augmented reality-based label recognition and rating system
                  </p>
                </li>
                <li>
                  <p>
                    Introduced usability testing and discovery activities into standard release cycles
                  </p>
                </li>
                <li>
                  <p>
                    Reached #5 in the Food & Wine category on the Apple App Store
                  </p>
                </li>
                <li>
                  <p>
                    Helped Clarke Power Services modernize their parts ordering, tire replacement, and time tracking features by replacing time consuming and error prone spreadsheet and email processes
                  </p>
                </li>
                <li>
                  <p>
                    Defined brand system and guidelines
                  </p>
                </li>
              </ul>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Webstop
              </h3>
              <span class="location">Tampa, FL</span>
              <span class="role">Lead Designer</span>
              <span class="duration">Feb 2010 – Oct 2013</span>
            </div>

            <div>
              <p>
                Webstop is a family-owned business providing full-featured customer web tools for independent grocers.
              </p>
              <ul class="styled-list">
                <li>
                  <p>
                    Redesigned the Weekly Ad, Recipes, Store Finder, and Digital Coupons modules
                  </p>
                </li>
                <li>
                  <p>
                    Worked with grocery clients to redesign store websites implementing Webstop’s modules
                  </p>
                </li>
                <li>
                  <p>
                    Produces sales and marketing materials
                  </p>
                </li>
              </ul>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Skills
              </h3>
            </div>
            <!-- Col -->
            <div>
              <p>
                Beyond the basics skills you can expect from an experienced designer, you can also count on me for design systems work, workshop facilitation, CSS (vanilla, sass, and modern frameworks), familiarity with modern front-end frameworks like React and Vue, and research tasks such as user interviews, field studies, and usability testing.
              </p>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Volunteering
              </h3>
            </div>
            <!-- Col -->
            <div>
              <p>
                I believe it’s important be involved in my community and am passionate about civics and exposing students in under represented communities to design.
              </p>
              <h4 class="margin-bottom-half">Ragtag</h4>
              <p class="margin-bottom-half">Brand & UX Design</p>
              <span class="industry-tag">Civil Rights and Social Action</span>

              <h4 class="margin-bottom-half">1N5</h4>
              <p class="margin-bottom-half">Brand and UX design</p>
              <span class="industry-tag">Youth mental health awareness</span>

              <h4 class="margin-bottom-half">Hughes Technical High School</h4>
              <p class="margin-bottom-half">Curriculum Advisory Board Education</p>
              <span class="industry-tag">Education</span>
            </div>
            <!-- Row -->
            <!-- Col -->
            <div>
              <h3 class="margin-top-none">
                Education
              </h3>
            </div>
            <!-- Col -->
            <div>
              <h4 class="margin-bottom-half margin-top-none">Chatt. State Community College</h4>
              <p class="margin-bottom-half">Chattanooga, TN</p>
              <p class="margin-bottom-half">2000–2002</p>
              <p class="margin-bottom-half">AA, Advertising Design</p>
            </div>
          </div>
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>