---
permalink: /health-carousel/
title: Health Carousel
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container margin-left-none">
      <div class="page-header columns-top-start">
        <aside>
          <figure>
            <img src="https://images.unsplash.com/photo-1590611936760-eeb9bc598548?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="A nurse putting on personal protection equipment">
          </figure>
        </aside>
        
        <main class="half">
          {% include proj-back.html %}
          <h1 class="title">Health Carousel</h1>
          <p>
            Health Carousel Travel Nursing connects healthcare facilities to a national network of experienced travel nurse and allied healthcare professionals for immediate and crisis support.
          </p>

          <h3>Project Background</h3>
          <p>
            Health Carousel employs a large team of recruiters that help travel nurses find, apply for, and win new assignments in a fast-paced and competitive environment. They knew that it was important to build a tool that would empower nurses to find assignments and keep their information up-to-date on their own schedules.
          </p>

          <h3>Opportunity Space</h3>
          <ul class="styled-list">
            <li>
              <p>Nurses need to use a website that is sometimes difficult to use and is not mobile-friendly to find assignments they might be interested in.</p>
            </li>
            <li>
              <p>Nurses schedules are busy and they don't often have time to contact a recruiter for help with finding assignments, help with requirements from hospitals, or keep their profiles updated.</p>
            </li>
            <li>
              <p>Nurses need to email or fax required documents to recruiters and often end up calling in to verify something was received.</p>
            </li>
            <li>
              <p>
                Nurse recruiters spend a lot of time handling administrative details rather than focusing on their recruitement pipeline or nurturing relationships with nurses.
              </p>
            </li>
          </ul>
        </main>
      </div>
    </div>

    <!-- Work Samples -->

    <section class="container">
      <div class="work-sample">
        <div class="columns-top">
          <div class="columns-top">
            <div class="col half">
              <figure>
                <img class="product-image" src="/images/hc-profile.png" alt="Screenshot of the Crossroads Kids Club check-in app showing a room request" />
              </figure>
              
              <figcaption>
                <p>Dashboard</p>
              </figcaption>
            </div>
            <div class="col half">
              <figure>
                <img class="product-image" src="/images/hc-job-search.png" alt="Screenshot of the Crossroads Kids Club check-in app showing a room request" />
              </figure>
              
              <figcaption>
                <p>Job Search</p>
              </figcaption>
            </div>
          </div>

          <div class="columns-top">
            <div class="col half">
              <figure>
                <img class="product-image" src="/images/hc-creds.png" alt="Screenshot of the Crossroads Kids Club check-in app showing a room request" />
              </figure>
              
              <figcaption>
                <p>Credentialing</p>
              </figcaption>
            </div>
            <div class="col half">
              <figure>
                <img class="product-image" src="/images/hc-match.png" alt="Screenshot of the Crossroads Kids Club check-in app showing a room request" />
              </figure>
              
              <figcaption>
                <p>Recommended jobs</p>
              </figcaption>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="container">
      <div class="columns-middle">
        <div class="col half eighth indent-left">
          <h3>Process</h3>
          <p>
            The marketing team surveyed current travel nurses to uncover pain points in the existing job placement and credentialing process. Based on survey results and business objectives the development team created an alpha release for concept testing.
          </p>

          <p>
            I synthesized data from the survey and interviews and used it to create a set of prototypes for an initial round of moderated usability testing and continued iteration.
          </p>
  
          <h3>Solution</h3>
          <p>
            In partnership with the development team we created a progressive mobile tapp that allows nurses to search for jobs based on their preferences, view job details like facility and pay, set up job alerts, and update credentials.
          </p>
  
          <h3>Results</h3>
          <ul class="styled-list">
            <li>
              <p>
                Health Carousel Travel Nursing received satisfaction scores of 9 out of 10 from 86.8% of their nurses
              </p>
            </li>
            <li>
              <p>
                Bronze winner in Digital Health Awards
              </p>
            </li>
          </ul>
        </div>
  
        <div class="col flex-col half">
          <img src="/images/hc-collage.png" alt="nurse caring for patients" />
        </div>
      </div>
    </div>

    <section class="container more-work">
      <div class="columns-middle-start">
        <h4>More Work</h4>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
        <a class="webstop" href="/webstop">Webstop</a>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>