---
permalink: /resume/
title: Résumé
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="w-full my-12 md:mt-12 md:mb-24 md:w-4/6">
        <div>
          <h1 class="title">Résumé</h1>
        </div>
      </div>
      <div class="grid lg:grid-cols-12 md:gap-4">
        <!-- Ingage -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Ingage Partners</h3>
          <span class="block mb-2">Cincinnati, OH</span>
          <span class="block mb-2">Senior Consultant</span>
          <span class="block mb-2">Apr 2019 — Present</span>
        </div>
        <div class="col-span-7">
          <p>
            Ingage Partners is a tech consulting company working with mid to large sized companies in the greater Cincinnati region.
          </p>
          <ul class="styled-list pl-12 my-12">
            <li>
              <p>
                Designed a “one-touch” communication system allowing Crossroads Church childcare workers to alert staff of urgent needs and emergencies
              </p>
            </li>
            <li>
              <p>
                Led research and design of Crossroads Church’s volunteer discovery tool contributing to 20% more volunteer sign-ups
              </p>
            </li>
            <li>
              <p>
                Helped Health Carousel design and launch On Demand—an app that allows travel nurses to find new opportunities and track required credentials
              </p>
            </li>
            <li>
              <p>
                Helped Clarke Power Services modernize their parts ordering, tire replacement, and time tracking features by replacing time consuming and error prone spreadsheet and email processes
              </p>
            </li>
          </ul>        
        </div>
        <!-- Untappd -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Untappd</h3>
          <span class="block mb-2">Wilmington, NC</span>
          <span class="block mb-2">Product Designer</span>
          <span class="block mb-2">Dec 2016 — Apr 2019</span>
        </div>
        <div class="col-span-7">
          <p>
            Untappd is a 7 million user beer-focused social app with a B2B channel helping businesses reach current and new customers.
          </p>
          <ul class="styled-list pl-12 my-12">
            <li>
              <p>
                Shipped a successful v3 consumer app redesign increasing combined MAU year over year by 26%
              </p>
            </li>
            <li>
              <p>
                Designed experience allowing venues to design and display digital beer menus in bars, restaurants, and tap rooms (find one at Cincinnati staples like Mad Tree, Braxton, and Jungle Jim’s and thousands of other venues around the world)
              </p>
            </li>
            <li>
              <p>
                Led design from research to delivery for B2B software allowing over 15k venues to create tap lists and push them to Untappd’s user base
              </p>
            </li>
          </ul>          
        </div>
        <!-- Next Glass -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Next Glass</h3>
          <span class="block mb-2">Wilmington, NC</span>
          <span class="block mb-2">Senior Consultant</span>
          <span class="block mb-2">Nov 2013 — Dec 2016</span>
        </div>
        <div class="col-span-7">
          <p>
            Next Glass, now parent company to Untappd and other bev tech brands, was a beer and wine recommendation app that predicted how much a user would like a new beverage based on its molecular structures (mass spectrometry).
          </p>
          <ul class="styled-list pl-12 my-12">
            <li>
              <p>
                Designed augmented reality-based label recognition and rating system
              </p>
            </li>
            <li>
              <p>
                Reached #5 in the Food & Wine category on the Apple App Store
              </p>
            </li>
            <li>
              <p>
                Introduced usability testing and discovery activities into standard release cycles
              </p>
            </li>
            <li>
              <p>
                Defined brand system and guidelines
              </p>
            </li>
          </ul>  
        </div>
        <!-- Webstop -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Webstop</h3>
          <span class="block mb-2">Tampa, FL</span>
          <span class="block mb-2">Lead Designer</span>
          <span class="block mb-2">Feb 2010 – Oct 2013</span>
        </div>
        <div class="col-span-7">
          <p>Webstop is a family-owned business providing full-featured customer web tools for independent grocers.</p>
          <ul class="styled-list pl-12 my-12">
            <li>
              <p>
                Redesigned the Weekly Ad, Recipes, Store Finder, and Digital Coupons modules
              </p>
            </li>
            <li>
              <p>
                Worked with grocery stores to redesign store websites implementing Webstop’s web modules
              </p>
            </li>
            <li>
              <p>
                Produced sales and marketing materials
              </p>
            </li>
          </ul> 
        </div>
        <!-- Skills -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Skills</h3>
        </div>
        <div class="col-span-7">
          <ul class="styled-list pl-12 mb-12">
            <li>
              <p>User experience research</p>
            </li>
            <li>
              <p>Information architecture</p>
            </li>
            <li>
              <p>Wireframing and prototyping</p>
            </li>
            <li>
              <p>Usability testing</p>
            </li>
            <li>
              <p>Visual design</p>
            </li>
            <li>
              <p>Agile team collaboration</p>
            </li>
            <li>
              <p>Workshop facilitation</p>
            </li>
            <li>
              <p>HTML and CSS</p>
            </li>
          </ul> 
        </div>
        <!-- Volunteering -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Volunteering</h3>
        </div>
        <div class="col-span-7">
          <p>
            I believe it’s important be involved in my community and am passionate about civics and exposing students in under represented communities to design.
          </p>
          <h4 class="mt-8 mb-4">Ragtag</h4>
          <p class="mb-2">Brand & UX Design</p>
          <span class="block industry-tag">Civil Rights and Social Action</span>

          <h4 class="mt-8 mb-4">1N5</h4>
          <p class="mb-2">Brand and UX design</p>
          <span class="block industry-tag">Youth mental health awareness</span>

          <h4 class="mt-8 mb-4">Hughes Technical High School</h4>
          <p class="mb-2">Curriculum Advisory Board</p>
          <span class="block industry-tag mb-12">Education</span>
        </div>
        <!-- Education -->
        <div class="col-span-5 mb-4">
          <h3 class="mt-0 mb-4">Education</h3>
        </div>
        <div class="col-span-7">
          <h4 class="mb-4">Chatt. State Community College</h4>
          <p class="mb-2">Chattanooga, TN</p>
          <p class="mb-2">Adverstising Design</p>
          <p class="mb-4">2000–2001</p>
          <span class="industry-tag mb-2">Courses Taken</span>
          <p class="small mb-1 leading-relaxed md:w-1/2">Design, Production Art, Intro to Macintosh, Composition I, Illustration I, Typography, Art Appreciation</p>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>