---
permalink: /untappd/
title: Untappd for Business
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-12">
          <figure class="project-image">
            <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZXIlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Friends enjoying beer at a brewery">
          </figure>
        </div>

        <div class="col-xl-8 col-md-12 px-5">
          {% include proj-back.html %}
          <h1 class="title">Untappd for Business</h1>
          <p>
            Untappd for Business gives business owners the ability to quickly build menus and publish them to their website, digital menus, and the Untappd app. Businesses can also engage directly with users in the Untappd app using check-ins, events, social media sharing, and more.
          </p>

          <h3>About Untappd</h3>
          <p>
            Untappd is a social networking service and mobile application that allows its 9 million users to check in as they drink beers, earn badges based on check-ins, and share these check-ins and their locations with their friends.
          </p>

          <h3>Project Background</h3>
          <p>
            Untappd’s focus has primarily been on beer consumers. With more adoption and check-in activity on the Untappd platform and no increased focus on breweries or venues, leadership identified an opportunity to serve businesses in the hospitality space.
          </p>

          <h3>Opportunity Space</h3>
          <ul class="styled-list">
            <li>
              <p>
                Businesses don’t have control over what beers are checked-in at their venues causing confusion among the Untappd community about inventory availability.
              </p>
            </li>
            <li>
              <p>
                Breweries and venues don’t have a way to directly engage with Untappd users in a meaningful way.
              </p>
            </li>
          </ul>         
        </div>
      </div>            
    </div>

    <!-- Work Samples -->

    <div class="container">
      <div class="row work-sample">
        <div class="col-xl-8 offset-xl-2 col-md-12">
          <figure>
            <img class="w-100" src="/images/utfb.png" alt="Screenshot of the Untappd for Business web app" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-md-12">
          <figure>
            <img class="w-100" src="/images/utfb-digital-board.png" alt="Screenshot of the Untappd for Business web app" />
          </figure>
          
          <figcaption>
            <p>
              Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
            </p>
          </figcaption>          
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-md-12">
          <figure>
            <img class="w-100" src="/images/untappd-app.png" alt="Untappd for Business' digital board" />
          </figure>
          
          <figcaption>
            <p>
              Menus can also be displayed on TVs in venues. Untappd for Business users have control over colors, fonts and images.
            </p>
          </figcaption>
        </div>
      </div>
    </div> 
    
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 px-5">
          <h3>Process</h3>
          <p>
            Based on research from the marketing team, we were able to identify key features and functionality the product should have, as well as key insights into competitors' products. I built and tested a series of prototypes that addressed the needs and pain points of potential users and incorporated relevant feedback into subsequent iterations.
          </p>
  
          <h3>Solution</h3>
          <p>
            Based on prototype testing and additional user interviews, we built an all-in-one menu publishing toolkit that syncs social accounts, websites, print and digital menus, and Untappd profiles in one click. Businesses save time by posting content to Facebook & Twitter pages from the Untappd for Business dashboard. Untappd for Business partners stand out on the app by showcasing events and specials, and alerting subscribers to new beers and events via push notifications.
          </p>
  
          <h3>Results</h3>
          <p>
            Untappd for Business boasts over 15,000 Verified Venues.
          </p>

          <ul class="styled-list">
            <li>
              <p>
                During a 120 day pilot period for 10 locations in 2016, Old Chicago saw an 8% increase in beer sales and subsequently onboarded all of their stores
              </p>
            </li>
            <li>
              <p>
                Breweries that purchase a badge generally see a 50-100%+ increase in check-ins and typically make Untappd’s Global Trending Beer list during their promotional period.
              </p>
            </li>
            <li>
              <p>
                As a result of marketing to the Untappd user base, Total Wine & More has seen up to a 10x+ return on investment.
              </p>
            </li>
          </ul>
        </div>
  
        <div class="col-xl-4 col-md-12 ms-auto d-md-none d-xl-block">
          <img class="collage w-75 float-end" src="/images/untappd-collage.png" alt="hops and beer being servied from a tap" />
        </div>
      </div>
    </div>
    
    <div class="container more-work">
      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="d-flex align-items-center justify-content-between">
            <h4>More Work</h4>
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg>
            </div>
            <a class="crossroads" href="/crossroads">Crossroads Church</a>            
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>