---
permalink: /untappd/
title: Untappd for Business
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="grid gap-16 lg:grid-cols-12">
        <div class="col-span-5">
          <figure class="project-image">
            <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZXIlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Friends enjoying beer at a brewery">
          </figure>
        </div>

        <div class="col-span-7">
          {% include proj-back.html %}
          <h1 class="title mb-8">Untappd for Business</h1>
          <p class="mb-8">
            Untappd for Business gives business owners the ability to quickly build menus and publish them to their website, digital menus, and the Untappd app. Businesses can also engage directly with users in the Untappd app using check-ins, events, social media sharing, and more.
          </p>

          <h3 class="mb-8">About Untappd</h3>
          <p class="mb-8">
            Untappd is a social networking service and mobile application that allows its 9 million users to check in as they drink beers, earn badges based on check-ins, and share these check-ins and their locations with their friends.
          </p>

          <h3 class="mb-8">Project Background</h3>
          <p class="mb-8">
            Untappd’s focus has primarily been on beer consumers. With more adoption and check-in activity on the Untappd platform and no increased focus on breweries or venues, leadership identified an opportunity to serve businesses in the hospitality space.
          </p>

          <h3 class="mb-8">Problem Space</h3>
          <ul class="styled-list pl-12 mb-12">
            <li>
              <p>
                Businesses don’t have control over what beers are checked-in at their venues causing confusion among the Untappd community about inventory availability.
              </p>
            </li>
            <li>
              <p>
                Breweries and venues don’t have a way to directly engage with Untappd users in a meaningful way.
              </p>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- Work Samples -->
      
      <div class="work-samples flex justify-items-center flex-col my-16">
        <div class="columns-1 lg:mx-auto lg:w-1/2">
          <div>
            <figure>
              <img src="/images/utfb.png" alt="Screenshot of the Untappd for Business web app" />
            </figure>
            
            <figcaption>
              <p class="mb-8 mx-8 my-4 text-center md:mx-16">
                Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
              </p>
            </figcaption>
          </div>
          <div>
            <figure>
              <img src="/images/utfb-digital-board.png" alt="Screenshot of the Untappd for Business web app" />
            </figure>
            
            <figcaption>
              <p class="mb-8 mx-8 my-4 text-center md:mx-16">
                Breweries and other venues can add beer lists and publish them to the Untappd app, digital displays, their website, and print menus.
              </p>
            </figcaption>
          </div>
          <div>
            <figure>
              <img src="/images/untappd-app.png" alt="Untappd for Business' digital board" />
            </figure>
            
            <figcaption>
              <p class="mb-8 mx-8 my-4 text-center md:mx-16">
                Menus can also be displayed on TVs in venues. Untappd for Business users have control over colors, fonts and images.
              </p>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="grid items-center gap-16 lg:grid-cols-12">
        <div class="col-span-7">
          <h3 class="mb-8">Process</h3>
          <p class="mb-8">
            Based on research from the marketing team, we were able to identify key features and functionality the product should have, as well as key insights into competitors' products. I built and tested a series of prototypes that addressed the needs and pain points of potential users and incorporated relevant feedback into subsequent iterations.
          </p>
  
          <h3 class="mb-8">Solution</h3>
          <p class="mb-8">
            Based on prototype testing and additional user interviews, we built an all-in-one menu publishing toolkit that syncs social accounts, websites, print and digital menus, and Untappd profiles in one click. Businesses save time by posting content to Facebook & Twitter pages from the Untappd for Business dashboard. Untappd for Business partners stand out on the app by showcasing events and specials, and alerting subscribers to new beers and events via push notifications.
          </p>
  
          <h3 class="mb-8">Results</h3>
          <ul class="styled-list pl-12 my-12">
            <li>
              <p>
                During a 120 day pilot period for 10 locations in 2016, Old Chicago saw an 8% increase in beer sales and subsequently onboarded all of their stores
              </p>
            </li>
            <li>
              <p>
                Breweries that purchase a badge generally see a 50-100%+ increase in check-ins and typically make Untappd’s Global Trending Beer list during their promotional period.
              </p>
            </li>
            <li>
              <p>
                As a result of marketing to the Untappd user base, Total Wine & More has seen up to a 10x+ return on investment.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-span-5 justify-self-end">          
          <img class="hidden lg:block lg:w-80 lg:float-end" src="/images/untappd-collage.png" alt="hops and beer being servied from a tap" />
        </div>
      </div>            
      
      <div class="more-work my-16 flex flex-col items-center space-between md:flex-row">
        <h4>More Work</h4>
        <div class="icon hidden md:inline-block md:mx-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
        <a class="crossroads mt-8 px-6 flex flex-row items-center space-between pr-12 md:mt-0" href="/crossroads">Crossroads Church</a>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>