---
permalink: /webstop/
title: Webstop
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="container px-8 mx-auto">
      <div class="grid gap-16 lg:grid-cols-12">
        <div class="col-span-5">
          <figure class="project-image mb-4">
            <img src="https://www.webstop.com/assets/stock_images/WomanShopping_480x580-87b5e05ed0e6779ebcb8a6fd18b7d5659fe206911d0f185ef5cd24c94b7b168e.jpg" alt="A woman using her phone while shopping for produce">
          </figure>
        </div>

        <div class="col-span-7">
          {% include proj-back.html %}
          <h1 class="title mb-8">Webstop</h1>
          <p class="mb-8">
            Webstop creates powerful end-to-end solutions like custom websites, mobile apps, digital circulars, eCommerce features, personalized shopping lists, and paperless coupons, delivering a unique and relevant experience into the hands of shoppers.
          </p>

          <h3 class="mb-8">Project Background</h3>
          <p class="mb-8">
            Webstop's Weekly Ad and Store Locator modules were due for an upgrade. They tapped me to rethink the UI an and give it a visual refresh.
          </p>

          <h3 class="mb-8">Opportunity Space</h3>
          <p class="mb-8">
            The existing Weekly Ad feature was difficult to navigate between pages and grocery departments and was visually outdated.
          </p>
        </div>
      </div>
      
      <!-- Work Samples -->
      
      <div class="grid my-16 lg:grid-cols-2 lg:gap-16 work-samples">
        <div>
          <figure>
            <img src="/images/webstop-ad.png" alt="Screenshot of a web-based weekly grocery store ad" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              Users can easily switch between ad sections, departments, and pages and add items to a shopping list.
            </p>
          </figcaption>
        </div>
        <div>
          <figure>
            <img src="/images/webstop-list.png" alt="Screenshot of a web-based shopping list" />
          </figure>
          
          <figcaption>
            <p class="mb-8 mx-8 my-4 text-center md:mx-16">
              The shopping list is easily accessible and can be updated on the fly.
            </p>
          </figcaption>
        </div>
      </div>
      <div class="grid items-center gap-16 lg:grid-cols-12">
        <div class="col-span-7">
          <h3 class="mb-8">Process</h3>
          <p class="mb-8">
            Without access to users, my first step was to complete a hueiristic evaluation. This allowed me to identify potential usability issues and prioritize improvements. Next, I reviewed user feedback from the current product and identified several areas of opportunity.
          </p>
  
          <h3 class="mb-8">Solution</h3>
          <p class="mb-8">
            I designed an interface that made search and browsing by department a core feature of the product. I also replaced the pagination pattern with a more condensed arrow and dropdown component allowing for easier page navigation in addition to giving the whole feature a visual refresh.
          </p>
  
          <h3 class="mb-8">Results</h3>
          <p class="mb-8">
            Customer feedback from the new tool has been overwhelmingly positive. Users report that items they normally look for on sale are easier to find and that the Weekly Ad is less overwhelming as a whole.
          </p>
        </div>
        <div class="col-span-5 justify-self-end">
          <img class="hidden lg:block lg:w-80 lg:float-end" src="/images/webstop-collage.png" alt="produce and an adult male and child grocery shopping together" />
        </div>
      </div>            
      
      <div class="more-work my-16 flex flex-col items-center space-between md:flex-row">
        <h4>More Work</h4>
        <div class="icon hidden md:inline-block md:mx-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
        <a class="next-glass mt-8 px-6 flex flex-row items-center space-between pr-12 md:mt-0" href="/next-glass">Next Glass</a>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>